<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h3>Tabela de usuarios</h3>
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr class="table-active" th:if="${usuarios.empty}">
            <td colspan="2"> Nenhum usuário cadastro </td>
        </tr>
        <tr>
            <th scope="col" class="col-title-usu">Id</th>
            <th scope="col " class="col-title-usu">Nome</th>
            <th scope="col" class="col-title-usu">Telefone</th>
            <th scope="col" class="col-title-usu">Data de nascimento</th>
            <th scope="col" class="col-title-usu">Apagar</th>
        </tr>
        <tr  th:each="usuario : ${usuarios}">
            <td><span th:text="${usuario.id}"> ID </span></td>
            <td><span th:text="${usuario.nome}"> Nome </span></td>
            <td><span th:text="${usuario.telefone}"> Telefone </span></td>
            <td><span th:text="${#temporals.format(usuario.dataNascimento, 'dd/MM/yyyy')}"> Data de nascimento </span></td>
            <td><a th:href="@{/usuario/excluir/{id}(id=${usuario.id})}"
                   class="btn btn-danger"
                   onclick="return confirm('Tem certeza que deseja excluir este usuario? Os projetos associados a ele também serão excluidos')">
                <i class="bi bi-trash"></i>
            </a></td>
        </tr>
        </tbody>
    </table>

    <button type="button"
            id="novo-projeto"
            class="btn btn-primary btn-lg"
            th:onclick="|window.location.href='@{/projeto/cadastro}'|">
        Criar novo projeto
    </button>

</body>
</html>