<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Projetos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr class="table-active" th:if="${projetos.empty}">
        <td colspan="2"> Nenhum projeto cadastro </td>
    </tr>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de inicio</th>
        <th scope="col">Data de fim</th>
    </tr>
    <tr  th:each="projeto : ${projetos}">
        <td><span th:text="${projeto.id}"> ID </span></td>
        <td><span th:text="${projeto.nome}"> Nome </span></td>
        <td><span th:text="${#temporals.format(projeto.dataInicio, 'dd/MM/yyyy')}"> Data de inicio </span></td>
        <td><span th:text="${#temporals.format(projeto.dataFim, 'dd/MM/yyyy')}"> Data de fim </span></td>
        <td><span th:text="${projeto.usuario.nome}"> Nome </span></td>

    </tr>
    </tbody>
</table>

</body>
</html>